<h1><%= @articles.title %></h1>
<p><%= @articles.body %></p>
<%= link_to "Delete", article_path(@articles), method: :delete %>
<br>
<%= link_to "edit", edit_article_path(@articles) %>
<br>
<%= link_to "<< Back to Articles List", articles_path %>

<h3>Comments</h3>
<%= render partial: 'articles/coment', collection: @article.coments %>